{% extends "main_layout.html" %}
{% block content %}
{% with messages=get_flashed_messages()%}
        {% if messages %}
        {% for message in messages %}
        <script>
           alert(" {{message}} ");
        </script>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <div >
          <img src="../static/images/1699876973.jpg" alt="">
          <div class="overlay overlay-a"></div>
          <div class="intro-content display-table">
            <div class="table-cell">
              <div class="container">
                <div class="row">
                  <div class="col-lg-8">
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <section class="section-services section-t8">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="title-wrap d-flex justify-content-between">
                  <div class="title-box">
                    <h2 class="title-a">Our Services</h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="card-box-c foo">
                  <div class="card-header-c d-flex">
                    <div class="card-box-ico">
                      <span class="bi bi-github"></span>
                    </div>
                    <div class="card-title-c align-self-center">
                      <h2 class="title-c">Animal</h2>
                    </div>
                  </div>
                  <div class="card-body-c">
                    <p class="content-c">
                      Street animals need your help.Your donation ensures that injured and ill ownerless animals are rescued and receive life-saving medical attention.
                      Every year we rescue thousands of street animals in need and your generous donation makes that possible.
                    </p>
                  </div>
                  
                </div>
              </div>
              <div class="col-md-4">
                <div class="card-box-c foo">
                  <div class="card-header-c d-flex">
                    <div class="card-box-ico">
                      <span class="bi bi-hospital"></span>
                    </div>
                    <div class="card-title-c align-self-center">
                      <h2 class="title-c">Health</h2>
                    </div>
                  </div>
                  <div class="card-body-c">
                    <p class="content-c">
                      With an aim to strengthen the country’s existing healthcare system and reduce out-of-pocket expenses on health, Smile Foundation's ‘Health Cannot Wait’ initiative is taking quality healthcare services to the doorstep of vulnerable communities, with focus on women and children. Awareness activities like school health camps and street plays are also conducted to encourage children and community to adopt a health seeking behaviour. 
                    </p>
                  </div>
                  
                </div>
              </div>
              <div class="col-md-4">
                <div class="card-box-c foo">
                  <div class="card-header-c d-flex">
                    <div class="card-box-ico">
                      <span class="bi bi-book-half"></span>
                    </div>
                    <div class="card-title-c align-self-center">
                      <h2 class="title-c">Education</h2>
                    </div>
                  </div>
                  <div class="card-body-c">
                    <p class="content-c">
                      While schools have reopened formally, children are still struggling with their studies. The prolonged gap has led to the loss of learning opportunities and many important life skills for children. Many of them were even forced to drop out of school during this gap and discontinue their education. If not addressed on time this learning crisis can lead to children dropping out of school permanently putting their bright futures at stake
                    </p>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </section>

    <!-- ======= Team Section ======= -->
    <section class="section-agents section-t8">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="title-wrap d-flex justify-content-between">
              <div class="title-box">
                <h2 class="title-a">TEAM</h2>
              </div>
              
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="card-box-d">
              <div class="card-img-d">
                <img src="assets/img/agent-4.jpg" alt="" class="img-d img-fluid">
              </div>
              <div class="card-overlay card-overlay-hover">
                <div class="card-header-d">
                  <div class="card-title-d align-self-center">
                    <h3 class="title-d">
                      <a href="agent-single.html" class="link-two">Sandhya Singh
                        </a>
                    </h3>
                  </div>
                </div>
                <div class="card-body-d">
                  <p class="content-d color-text-a">
                    Sed porttitor lectus nibh, Cras ultricies ligula sed magna dictum porta two.
                  </p>
                  <div class="info-agents color-a">
                    <p>
                      <strong>Phone: </strong> +54 356 945234
                    </p>
                    <p>
                      <strong>Email: </strong> sandhyak23901@gmail.com
                    </p>
                  </div>
                </div>
                <div class="card-footer-d">
                  <div class="socials-footer d-flex justify-content-center">
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <a href="#" class="link-one">
                          <i class="bi bi-facebook" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#" class="link-one">
                          <i class="bi bi-twitter" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#" class="link-one">
                          <i class="bi bi-instagram" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#" class="link-one">
                          <i class="bi bi-linkedin" aria-hidden="true"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-box-d">
              <div class="card-img-d">
                <img src="assets/img/agent-1.jpg" alt="" class="img-d img-fluid">
              </div>
              <div class="card-overlay card-overlay-hover">
                <div class="card-header-d">
                  <div class="card-title-d align-self-center">
                    <h3 class="title-d">
                      <a href="agent-single.html" class="link-two">Abhisekh Raj
                        </a>
                    </h3>
                  </div>
                </div>
                <div class="card-body-d">
                  <p class="content-d color-text-a">
                    Sed porttitor lectus nibh, Cras ultricies ligula sed magna dictum porta two.
                  </p>
                  <div class="info-agents color-a">
                    <p>
                      <strong>Phone: </strong> +54 356 945234
                    </p>
                    <p>
                      <strong>Email: </strong> abhisekhraj@gmail.com
                    </p>
                  </div>
                </div>
                <div class="card-footer-d">
                  <div class="socials-footer d-flex justify-content-center">
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <a href="#" class="link-one">
                          <i class="bi bi-facebook" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#" class="link-one">
                          <i class="bi bi-twitter" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#" class="link-one">
                          <i class="bi bi-instagram" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#" class="link-one">
                          <i class="bi bi-linkedin" aria-hidden="true"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>






{% endblock %}       