{% extends "main_layout.html" %}
{% block content %}
{% with messages=get_flashed_messages()%}
        {% if messages %}
        {% for message in messages %}
        <script>
           alert(" {{message}} ");
        </script>
        {% endfor %}
        {% endif %}
        {% endwith %}
<style>
	
	section{
	padding: 50px 0;
}
section .title{
	position: relative;
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
	font-size:40px;
	font-weight: 500;
	margin-bottom: 60px;
	padding-bottom: 20px;
}
section .title::before{
	content: "";
	position: absolute;
	bottom: 0px;
	left: 50%;
	width: 180px;
	height: 3px;
	background: #111;
	transform: translateX(-50%);
}
section .title::after{
	position: absolute;
	bottom: -12px;
	left: 50%;
	font-size: 20px;
	color: crimson;
	padding: 5px;
	background: #fff;
	transform: translateX(-50%);
}
	 .contact .contact-content{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
.contact{
	font-family: 'Poppins', sans-serif;
}	

.contact .title::after{
	content: "get in touch";
}
.contact .contact-content .column{
	width: Calc(50% - 30px);
}
.contact .contact-content .left p{
	text-align: justify;
}
.contact .contact-content .text{
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 10px;
}
.contact .contact-content .left .icons{
	margin: 10px 0;
}
.contact .contact-content .row{
	display: flex;
	height: 65px;
	align-items: center;
}
.contact .contact-content .row .info{
	margin-left: 30px;
}
.contact .contact-content .row i{
	font-size: 25px;
	color: crimson;
}
.contact .contact-content .info .head{
	font-weight: 500;
}
.contact .contact-content .info .sub-title{
	color: #333;
}
.contact .right form .fields{
	display: flex;
}
.contact .right form .field, .contact .right form .fields .field{
	height: 45px;
	width: 100%;
	margin-bottom: 15px;
}
.contact .right form .textarea{
	height: 80px;
	width: 100%;
}
.contact .right form .name{
	margin-right: 10px;
}
.contact .right form .email{
	margin-left: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
	height: 100%;
	width: 100%;
	border: 1px solid crimson;
	border-radius: 6px;
	outline: none;
	padding: 0 15px;
	font-size: 17px;
	font-family: 'Poppins', sans-serif;
}
.contact .right form .textarea textarea{
	padding-top: 10px;
	resize: none;
}
.contact .right form .button{
	height: 47px;
	width: 170px;
}
.contact .right form .button button{
	width: 100%;
	height: 100%;
	border: 2px solid crimson;
	background: crimson;
	color: #fff;
	font-size: 20px;
	font-weight: 500;
	border-radius: 6px;
	cursor: pointer;
	transition: all 0.3s ease;
}
.contact .right form .button button:hover{
	color: crimson;
	background: none;
}
</style>


<section class="contact" id="contact" style="margin-top: 130px;margin-left: 100px ;padding: 0px 20px;">
	<div class="max-width">
		<h2 class="title">Contact Us</h2>
		<div class="contact-content">
		<div class="column left">
			<div class="text">Get in Touch</div>
			<p>To use the Free Font Awesome 5 icons, you can choose to download the Font Awesome library, or you can sign up for an account at Font Awesome, and get a code (called KIT CODE) to use when you add Font Awesome to your web page.</p>
			<div class="icons">
				<div class="row">
						
						<div class="info">
							<span><i class="bi bi-person-fill"></i></span>
							<div class="head">Name</div>
							<div class="sub-title">Sandhya Singh</div>
						</div>
					
				</div>

				<div class="row">
					
					<div class="info" style="padding-top: 20px">
						<span><i class="bi bi-geo-alt-fill"></i></span>
						<div class="head">Address</div>
						<div class="sub-title">Gua, India</div>
					</div>
				</div>

				<div class="row">
					<div class="info" style="padding-top: 40px">
						<span><i class="bi bi-envelope-fill"></i></span>
						<div class="head">Email</div>
						<div class="sub-title">sandhyak23901@gmail.com</div>
					</div>
				</div>

			</div>
		</div>
		<div class="column right">
			<div class="text">Message me</div>
			<form action="/contact"  method="post">
				<div class="fields">
					<div class="field name">
						<input type="text" placeholder="Name" name="cname" required>
					</div>
					<div class="field email">
						<input type="email" placeholder="Email" name="cemail" required>
					</div>
				</div>
				<div class="fields">
					<div class="field name">
						<input type="text" placeholder="Subject" name="csub" required>
					</div>
					<div class="field email">
						<input type="text" placeholder="mobile" name="cmobile" required>
					</div>
				</div>
					<div class="field textarea">
						<textarea cols="30" rows="10" placeholder="Describe Project...." name="cdesc" required></textarea>
					</div>
					<div class="button">
						<button type="submit">Send message</button>
					</div>
			</form>
		</div>
	</div>
	</div>	
</section>

{% endblock %}