{% extends "main_layout.html"%}

{% block content%}

<!-- ======= Intro Section ======= -->
<div class="intro intro-carousel swiper position-relative">

  <div class="swiper-wrapper">

    <div class="swiper-slide carousel-item-a intro-item bg-image"
      style="background-image: url(assets/photo/intro1.jpg)">
      <div class="overlay overlay-a"></div>
      <div class="intro-content display-table">
        <div class="table-cell">
          <div class="container">
            <div class="row">
              <div class="col-lg-8">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide carousel-item-a intro-item bg-image"
      style="background-image: url(assets/photo/intro2.jpg)">
      <div class="overlay overlay-a"></div>
      <div class="intro-content display-table">
        <div class="table-cell">
          <div class="container">
            <div class="row">

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide carousel-item-a intro-item bg-image"
      style="background-image: url(assets/photo/intro3.jpg)">
      <div class="overlay overlay-a"></div>
      <div class="intro-content display-table">
        <div class="table-cell">
          <div class="container">
            <div class="row">
              <div class="col-lg-8">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-pagination"></div>

</div><!-- End Intro Section -->

<!-- ======= Testimonials Section ======= -->
<section class="section-testimonials section-t8 nav-arrow-a">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-wrap d-flex justify-content-between">
          <div class="title-box">
            <h2 class="title-a">SHare <span style="color: rgb(45, 148, 67);">Care</span></h2>
          </div>
        </div>
      </div>
    </div>

    <div id="testimonial-carousel" class="swiper">
      <div class="swiper-wrapper">

        <div class="carousel-item-a swiper-slide">
          <div class="testimonials-box">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="testimonial-img">
                  <img src="assets/photo/index1.jpg" alt="" class="img-fluid" style="height: 350px; width: 500px;">
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div class="testimonial-ico">
                  <i class="bi bi-chat-quote-fill"></i>
                </div>
                <div class="testimonials-content">
                  <p class="testimonial-text">
                    we appreciated your past support and wanted to update you on the impact you've made. Thanks to your
                    donations, we've provided essential supplies to needy families. Your continued support will help us
                    reach even more people. Thank you!
                  </p>
                </div>

              </div>
            </div>
          </div>
        </div><!-- End carousel item -->

        <div class="carousel-item-a swiper-slide">
          <div class="testimonials-box">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="testimonial-img">
                  <img src="assets/photo/index2.jpg" alt="" class="img-fluid">
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div class="testimonial-ico">
                  <i class="bi bi-chat-quote-fill"></i>
                </div>
                <div class="testimonials-content">
                  <p class="testimonial-text">
                    Donors like you make a huge impact on different causes. On behalf of SHare Care, we can’t thank you
                    enough for your continued support.
                  </p>
                </div>
                <!-- <div class="testimonial-author-box">
                    <img src="assets/img/mini-testimonial-2.jpg" alt="" class="testimonial-avatar">
                    <h5 class="testimonial-author">Pablo & Emma</h5>
                  </div> -->
              </div>
            </div>
          </div>
        </div><!-- End carousel item -->

      </div>
    </div>
    <div class="testimonial-carousel-pagination carousel-pagination"></div>

  </div>
</section><!-- End Testimonials Section -->


<section class="section-services section-t8">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-wrap d-flex justify-content-between">
          <div class="title-box">
            <h2 class="title-a">Our Services</h2>
          </div>
        </div>
      </div>
    </div>



    <div class="row">
      <div class="col-sm-12 col-md-3">
        <div class="testimonial-ico">
          <i class="bi bi-chat-quote-fill"></i>
        </div>
        <div class="testimonials-content">
          <p class="testimonial-text">
            <b>Why choose SHare Care?</b>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam ullam unde voluptas nesciunt et
            necessitatibus, fugiat explicabo. In, fugit consectetur officia, delectus accusantium aliquam magnam ut modi
            laudantium doloribus illum.
          </p>
        </div>
        <!-- <div class="testimonial-author-box">
            <img src="assets/img/mini-testimonial-2.jpg" alt="" class="testimonial-avatar">
            <h5 class="testimonial-author">Pablo & Emma</h5>
          </div> -->
      </div>
      <div class="col-md-3">
        <div class="card-box-c foo">
          <div class="card-header-c d-flex">
            <div class="card-box-ico">
              <span class="bi bi-github"></span>
            </div>
            <div class="card-title-c align-self-center">
              <h2 class="title-c">Animal</h2>
            </div>
          </div>
          <div class="card-body-c">
            <p class="content-c">
              Street animals need your help.Your donation ensures that injured and ill ownerless animals are rescued and
              receive life-saving medical attention.
              Every year we rescue thousands of street animals in need and your generous donation makes that possible.
            </p>
          </div>

        </div>
      </div>
      <div class="col-md-3">
        <div class="card-box-c foo">
          <div class="card-header-c d-flex">
            <div class="card-box-ico">
              <span class="bi bi-hospital"></span>
            </div>
            <div class="card-title-c align-self-center">
              <h2 class="title-c">Health</h2>
            </div>
          </div>
          <div class="card-body-c">
            <p class="content-c">
              With an aim to strengthen the country’s existing healthcare system and reduce out-of-pocket expenses on
              health, Smile Foundation's ‘Health Cannot Wait’ initiative is taking quality healthcare services to the
              doorstep of vulnerable communities, with focus on women and children. Awareness activities like school
              health camps and street plays are also conducted to encourage children and community to adopt a health
              seeking behaviour.
            </p>
          </div>

        </div>
      </div>
      <div class="col-md-3">
        <div class="card-box-c foo">
          <div class="card-header-c d-flex">
            <div class="card-box-ico">
              <span class="bi bi-book-half"></span>
            </div>
            <div class="card-title-c align-self-center">
              <h2 class="title-c">Education</h2>
            </div>
          </div>
          <div class="card-body-c">
            <p class="content-c">
              While schools have reopened formally, children are still struggling with their studies. The prolonged gap
              has led to the loss of learning opportunities and many important life skills for children. Many of them
              were even forced to drop out of school during this gap and discontinue their education. If not addressed
              on time this learning crisis can lead to children dropping out of school permanently putting their bright
              futures at stake
            </p>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<main id="main">





  <!-- ======= Latest Properties Section ======= -->
  <section class="section-property section-t8">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="title-a" style="color: rgb(3, 3, 3);">TOP CASES</h2>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div id="property-carousel" class="swiper">
      <div class="swiper-wrapper">

        {% if record %}

          {% for r in record %}


            <div class="carousel-item-b swiper-slide">
              <div class="card-box-a card-shadow">
                <div class="swiper-slide carousel-item-a intro-item bg-image">
                  <img src="../static/images/{{r[-1]}}" alt="" class="img-a img-fluid"
                    style="width: 360px!important;height: 300px!important;">
                </div>
                <div class="overlay overlay-a"></div>
                <div class="card-overlay">
                  <div class="card-overlay-a-content">
                    <div class="card-header-a">
                      <h2 class="card-title-a">
                        <a href="/case?caseid={{r[0]}}">{{r[1]}}</a>
                      </h2>
                    </div>
                    <div class="card-body-a">
                      <div class="price-box d-flex">
                        <p class="content-d color-text-a">
                          {{r[7]}}
                        </p>
                      </div>
                      <div>
                        <span class="price-a"> {{r[9]}}</span>
                      </div>
                      <br>
                      <a href="/case2?caseid={{r[0]}}" class="link-a">Click here to view
                        <span class="bi bi-chevron-right"></span>
                      </a>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        {% endif %}

      </div>
    </div>
    </div>

  </section>
  <!-- </div> End carousel item 

            <div class="carousel-item-b swiper-slide">
              <div class="card-box-a card-shadow">
                <div class="img-box-a">
                  <img src="assets/img/property-3.jpg" alt="" class="img-a img-fluid">
                </div>
                <div class="card-overlay">
                  <div class="card-overlay-a-content">
                    <div class="card-header-a">
                      <h2 class="card-title-a">
                        <a href="property-single.html">157 West
                          <br /> Central Park</a>
                      </h2>
                    </div>
                    <div class="card-body-a">
                      <div class="price-box d-flex">
                        <span class="price-a">rent | $ 12.000</span>
                      </div>
                      <a href="property-single.html" class="link-a">Click here to view
                        <span class="bi bi-chevron-right"></span>
                      </a>
                    </div>
                    <div class="card-footer-a">
                      <ul class="card-info d-flex justify-content-around">
                        <li>
                          <h4 class="card-info-title">Area</h4>
                          <span>340m
                            <sup>2</sup>
                          </span>
                        </li>
                        <li>
                          <h4 class="card-info-title">Beds</h4>
                          <span>2</span>
                        </li>
                        <li>
                          <h4 class="card-info-title">Baths</h4>
                          <span>4</span>
                        </li>
                        <li>
                          <h4 class="card-info-title">Garages</h4>
                          <span>1</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div> End carousel item -->

  <!-- <div class="carousel-item-b swiper-slide">
              <div class="card-box-a card-shadow">
                <div class="img-box-a">
                  <img src="assets/img/property-7.jpg" alt="" class="img-a img-fluid">
                </div>
                <div class="card-overlay">
                  <div class="card-overlay-a-content">
                    <div class="card-header-a">
                      <h2 class="card-title-a">
                        <a href="property-single.html">245 Azabu
                          <br /> Nishi Park let</a>
                      </h2>
                    </div>
                    <div class="card-body-a">
                      <div class="price-box d-flex">
                        <span class="price-a">rent | $ 12.000</span>
                      </div>
                      <a href="property-single.html" class="link-a">Click here to view
                        <span class="bi bi-chevron-right"></span>
                      </a>
                    </div>
                    <div class="card-footer-a">
                      <ul class="card-info d-flex justify-content-around">
                        <li>
                          <h4 class="card-info-title">Area</h4>
                          <span>340m
                            <sup>2</sup>
                          </span>
                        </li>
                        <li>
                          <h4 class="card-info-title">Beds</h4>
                          <span>2</span>
                        </li>
                        <li>
                          <h4 class="card-info-title">Baths</h4>
                          <span>4</span>
                        </li>
                        <li>
                          <h4 class="card-info-title">Garages</h4>
                          <span>1</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>End carousel item -->

  <!-- <div class="carousel-item-b swiper-slide">
              <div class="card-box-a card-shadow">
                <div class="img-box-a">
                  <img src="assets/img/property-10.jpg" alt="" class="img-a img-fluid">
                </div>
                <div class="card-overlay">
                  <div class="card-overlay-a-content">
                    <div class="card-header-a">
                      <h2 class="card-title-a">
                        <a href="property-single.html">204 Montal
                          <br /> South Bela Two</a>
                      </h2>
                    </div>
                    <div class="card-body-a">
                      <div class="price-box d-flex">
                        <span class="price-a">rent | $ 12.000</span>
                      </div>
                      <a href="property-single.html" class="link-a">Click here to view
                        <span class="bi bi-chevron-right"></span>
                      </a>
                    </div>
                    <div class="card-footer-a">
                      <ul class="card-info d-flex justify-content-around">
                        <li>
                          <h4 class="card-info-title">Area</h4>
                          <span>340m
                            <sup>2</sup>
                          </span>
                        </li>
                        <li>
                          <h4 class="card-info-title">Beds</h4>
                          <span>2</span>
                        </li>
                        <li>
                          <h4 class="card-info-title">Baths</h4>
                          <span>4</span>
                        </li>
                        <li>
                          <h4 class="card-info-title">Garages</h4>
                          <span>1</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div> End carousel item 
          </div>
        </div>
        <div class="propery-carousel-pagination carousel-pagination"></div>

      </div>
    </section>End Latest Properties Section -->

  <!-- ======= Agents Section ======= -->
  <section class="section-agents section-t8">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="title-a">Team</h2>
            </div>
            <div class="title-link">
              
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card-box-d">
            <div class="card-img-d">
              <img src="assets/img/agent-4.jpg" alt="" class="img-d img-fluid">
            </div>
            <div class="card-overlay card-overlay-hover">
              <div class="card-header-d">
                <div class="card-title-d align-self-center">
                  <h3 class="title-d">
                    <a href="agent-single.html" class="link-two">SANDHYA
                      <br> SINGH</a>
                  </h3>
                </div>
              </div>
              <div class="card-body-d">
                <p class="content-d color-text-a">
                  Sed porttitor lectus nibh, Cras ultricies ligula sed magna dictum porta two.
                </p>
                <div class="info-agents color-a">
                  <p>
                    <strong>Phone: </strong> +54 356 945234
                  </p>
                  <p>
                    <strong>Email: </strong> sandhyak23901@gmail.com
                  </p>
                </div>
              </div>
              <!-- <div class="card-footer-d">
                  <div class="socials-footer d-flex justify-content-center">
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <a href="#" class="link-one">
                          <i class="bi bi-facebook" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#" class="link-one">
                          <i class="bi bi-twitter" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#" class="link-one">
                          <i class="bi bi-instagram" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#" class="link-one">
                          <i class="bi bi-linkedin" aria-hidden="true"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div> -->
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-box-d">
            <div class="card-img-d">
              <img src="assets/img/agent-1.jpg" alt="" class="img-d img-fluid">
            </div>
            <div class="card-overlay card-overlay-hover">
              <div class="card-header-d">
                <div class="card-title-d align-self-center">
                  <h3 class="title-d">
                    <a href="agent-single.html" class="link-two">ABHISHEKH
                      <br> RAJ</a>
                  </h3>
                </div>
              </div>
              <div class="card-body-d">
                <p class="content-d color-text-a">
                  Sed porttitor lectus nibh, Cras ultricies ligula sed magna dictum porta two.
                </p>
                <div class="info-agents color-a">
                  <p>
                    <strong>Phone: </strong> +54 356 945234
                  </p>
                  <p>
                    <strong>Email: </strong> abhishekhraj234@gmail.com
                  </p>
                </div>
              </div>
              <!-- <div class="card-footer-d">
                  <div class="socials-footer d-flex justify-content-center">
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <a href="#" class="link-one">
                          <i class="bi bi-facebook" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#" class="link-one">
                          <i class="bi bi-twitter" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#" class="link-one">
                          <i class="bi bi-instagram" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#" class="link-one">
                          <i class="bi bi-linkedin" aria-hidden="true"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div> -->
            </div>
          </div>
        </div>

      </div>
    </div>
  </section><!-- End Agents Section -->

  <!-- ======= Latest News Section ======= -->
  
  <!-- End Latest News Section -->



</main><!-- End #main -->

{% endblock %}