{% extends "user_layout.html" %}

{% block content %}
    <div class="container border  shadow p-5 m-5">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger" role="alert">
            {{message}}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <h2 class="text-danger mt-5">Password Change</h2>
        <form action="/user_password" method="post">
        
        <div class="row">
            <div class="col">
                <label for="">Old Password</label>
                <input type="password" name="old_password" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="">New Password</label>
                <input type="password" name="new_password" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-primary mt-4">change</button>
            </div>
        </div>
        </form>
    </div>
{% endblock %}